.c-about {
    width: 100%;
    display: flex;

    @media only screen and (max-width: 659px) {
        flex-direction: column;
    }

    &-illustration {
        min-height: rem(500);
        background-image: url('../../assets/about.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 50%;
        position: relative;
        @media only screen and (max-width: 659px) {
            width: 100%;
        }
    }

    &-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: justify;
        width: 50%;
        padding: rem(50 70);

        .divider { 
            margin-left: 0;
        }
        
        @media only screen and (max-width: 659px) {
            width: 100%;
            padding: rem(20);
        }
    }
}