.c-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: rem(800);
    background-image: url('../../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: rem(90);

    &-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        text-align: center;

        h1 {
            margin: rem(20 0);
        }
    }
}