.c-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: rem(50);

    @media only screen and (max-width: 659px) {
        padding: rem(50 20);
    }

    &-vehicle {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: rem(1225);
        width: 100%;
        margin-top: rem(70);
        .vehicle-item {
            flex-grow: 1;
            flex-basis: 210px;
            padding: rem(20);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid $border-color;
            cursor: pointer;
            margin: rem(0 6 12 6);

            img, h4 {
                margin-bottom: rem(20);
            }

            &:hover {
                background: $brand;
                color: $white;
                transition: all 0.3s ease;
                svg {
                    fill:$white;
                }
            }

            svg {
                width: rem(100);
                fill:#707070;
                margin-bottom: rem(20);
            }
        }
    }

    &-services {
        width: 100%;
        margin-top: rem(50);
        .service-title {
            margin: rem(25 0);
        }
        &_content {
            max-width: rem(1250);
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: rem(50);

            &.detailing {
                justify-content: center;
            }
        }

        .c-service {
            flex-grow: 1;
            flex-basis: 210px;
            padding: rem(20);
            border: 1px solid $border-color;
            position: relative;
            margin: 0px 15px 30px 15px;

            @media only screen and (max-width: 659px) {
                margin: rem(0 10 30 10);
            }

            .multiplyNo {
                color: $brand;
                position: relative;
                top: rem(-25);
                left: rem(10);
            }

            &-price {
                color: $brand;
                text-align: center;
                font-size: rem(50);
                margin: rem(20 0);

                .pound {
                   position: relative;
                   font-size: rem(24);
                   font-weight: 400;
                   top: rem(-28);
                   left: 10px;
                }

                .price {
                    font-weight: 300;
                    position: relative;
                    font-size: rem(64);
                }
            }

            &-time {
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid $border-color;
                border-top: 1px solid $border-color;
                padding: rem(15 0);

                img {
                    width: rem(15);
                    margin-right: rem(10);
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: left;
                li {
                    position: relative;
                    padding-left: rem(30);
                    display: block;
                    margin-bottom: rem(10);
                    &::before {
                        content: '';
                        line-height: inherit;
                        position: absolute;
                        left: 0;
                        top: rem(-6);
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        background-image: url('../../assets/svg/check-circle-regular.svg');
                        background-repeat: no-repeat;
                        background-position: left center;
                        margin: rem(5 10 0 0);
                    }
                } 
            }
            &-list {
                margin-top: rem(20);
            }
        }
    }
}